@import 'compass/css3'

body
    overflow-x: hidden
    font-family: "Lucida Grande"
    width: 960px
    margin: 0 auto

#wrapper
    width: 960px

article
    width: 100%
    float: left
    //+transition(all, 1s, linear)
    position: relative
    left: 0%

article.hidden.old
    margin-left: -300%
    overflow-x: hidden

article.new
    left: 100%

footer
    width: 100%
    height: 100px
    background-color: #333

div#tempload
    display: none

#main-menu ul
    list-style-type: none
    li
        float: left
        padding: 0 25px 0 0
tagcloud
    width: 100px
    border: 1px solid
    float: right

#tagcloud ul
    margin: 0px

#tagcloud li
    display: block
    width: 62px
    height: 30px
    float: left
    margin-bottom: 5px
    margin-right: 15px

#tagcloud input[type=checkbox]
    display: block
    position: absolute
    opacity: 0
    width: 62px
    height: 30px

#tagcloud input[type=checkbox] + label
    display: block
    width: 60px
    line-height: 1.5em
    padding: 3px
    text-align: center
    border: 1px solid #000
    +border-radius(5px)
    +box-shadow(2px 2px 2px #000)

#tagcloud label:after
    content: ''

#tagcloud input[type=checkbox]:checked + label
    background: #88bfe8
    color: #ff0

/* För ajax-laddar-grafiken */
#dd_ajax_loading
    position: absolute
    width: 200px
    left: 50%
    background: gray
    padding: 10px
    margin: 0px
    margin-left: -105px
    height: 50px
    +border-radius(15px)
    color: #fff

#dd_ajax_loading #dd_squares
    width: 88px
    position: relative
    margin: 0 auto

#dd_ajax_loading span
    display: block
    width: 5px
    height: 10px
    float: left
    margin-right: 15px
    border: 1px solid #fff
    +border-radius(5px)

#dd_ajax_loading span.filled
    background: #fff

#dd_ajax_loading p
    display: block
    clear: both
    margin: 0
    margin-bottom: 10px
    text-align: center


/* To add columns to your text in wordpress simply use these classes on your text */

.threeColumns
    @include column-count(3)
    @include column-gap(20)
