/* För testning av ajax-slidern */

body.page {
	width: auto;
	overflow-x: hidden;
}

.page #wrapper {
	overflow-x: visible;
	width: 100%;
	display: block;
	position: relative;
}

.page article {
	width: 100%;
	float: left;
	display: inline-block;
	position: absolute;
	left: 0px;
}

.page article.new {left: 100%;}