/* För testning av ajax-slidern */
/*
body.page {
	width: auto;
	overflow-x: hidden;
}
*/
.page #wrapper {
	overflow-x: visible;
	display: block;
	position: relative;
}

.page article {
	float: left;
	display: inline-block;
	position: absolute;
	left: 0px;
}

.page article.fromright {left: 100%;}
.page article.fromleft {left: -100%;}