/* line 3, ../sass/screen.sass */
body {
  overflow-x: hidden;
}

/* line 6, ../sass/screen.sass */
article {
  width: 100%;
  float: left;
  position: relative;
  left: 0%;
}

/* line 13, ../sass/screen.sass */
article.hidden.old {
  margin-left: -100%;
  overflow-x: hidden;
}

/* line 17, ../sass/screen.sass */
article.new {
  left: 100%;
}

/* line 20, ../sass/screen.sass */
div#tempload {
  display: none;
}

/* line 23, ../sass/screen.sass */
#main-menu ul {
  list-style-type: none;
}
/* line 25, ../sass/screen.sass */
#main-menu ul li {
  float: left;
}
