/*
Syntax error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 4 spaces.
        on line 120 of /home/larsemil/programmering/php/daladevelop.se/sass/screen.sass

Backtrace:
/home/larsemil/programmering/php/daladevelop.se/sass/screen.sass:120
/usr/lib/ruby/1.8/sass/engine.rb:274:in `tabulate'
/usr/lib/ruby/1.8/sass/engine.rb:216:in `each_with_index'
/usr/lib/ruby/1.8/sass/engine.rb:232:in `each'
/usr/lib/ruby/1.8/sass/engine.rb:232:in `each_with_index'
/usr/lib/ruby/1.8/sass/engine.rb:232:in `tabulate'
/usr/lib/ruby/1.8/sass/engine.rb:208:in `_to_tree'
/usr/lib/ruby/1.8/sass/engine.rb:196:in `_render'
/usr/lib/ruby/1.8/sass/engine.rb:168:in `render'
/usr/lib/ruby/1.8/haml/util.rb:251:in `silence_haml_warnings'
/usr/lib/ruby/1.8/sass/engine.rb:168:in `render'
/usr/lib/ruby/1.8/compass/compiler.rb:103:in `compile'
/usr/lib/ruby/1.8/compass/logger.rb:43:in `red'
/usr/lib/ruby/1.8/compass/compiler.rb:102:in `compile'
/usr/lib/ruby/1.8/compass/compiler.rb:93:in `compile_if_required'
/usr/lib/ruby/1.8/compass/compiler.rb:84:in `run'
/usr/lib/ruby/1.8/compass/compiler.rb:82:in `each'
/usr/lib/ruby/1.8/compass/compiler.rb:82:in `run'
/usr/lib/ruby/1.8/compass/commands/watch_project.rb:92:in `recompile'
/usr/lib/ruby/1.8/compass/commands/watch_project.rb:4:in `to_proc'
/usr/lib/ruby/1.8/fssm/path.rb:71:in `call'
/usr/lib/ruby/1.8/fssm/path.rb:71:in `run_callback'
/usr/lib/ruby/1.8/fssm/path.rb:54:in `callback_action'
/usr/lib/ruby/1.8/fssm/path.rb:30:in `create'
/usr/lib/ruby/1.8/fssm/state/directory.rb:23:in `created'
/usr/lib/ruby/1.8/fssm/state/directory.rb:23:in `each'
/usr/lib/ruby/1.8/fssm/state/directory.rb:23:in `created'
/usr/lib/ruby/1.8/fssm/state/directory.rb:15:in `refresh'
/usr/lib/ruby/1.8/fssm/backends/inotify.rb:12:in `add_handler'
/usr/lib/ruby/1.8/rb-inotify/notifier.rb:182:in `call'
/usr/lib/ruby/1.8/rb-inotify/notifier.rb:182:in `watch'
/usr/lib/ruby/1.8/rb-inotify/watcher.rb:41:in `[]'
/usr/lib/ruby/1.8/rb-inotify/watcher.rb:41:in `callback!'
/usr/lib/ruby/1.8/rb-inotify/event.rb:128:in `callback!'
/usr/lib/ruby/1.8/rb-inotify/notifier.rb:211:in `process'
/usr/lib/ruby/1.8/rb-inotify/notifier.rb:211:in `each'
/usr/lib/ruby/1.8/rb-inotify/notifier.rb:211:in `process'
/usr/lib/ruby/1.8/rb-inotify/notifier.rb:194:in `run'
/usr/lib/ruby/1.8/fssm/backends/inotify.rb:20:in `run'
/usr/lib/ruby/1.8/fssm/monitor.rb:24:in `run'
/usr/lib/ruby/1.8/fssm.rb:17:in `monitor'
/usr/lib/ruby/1.8/compass/commands/watch_project.rb:61:in `perform'
/usr/lib/ruby/1.8/compass/commands/base.rb:18:in `execute'
/usr/lib/ruby/1.8/compass/commands/project_base.rb:19:in `execute'
/usr/lib/ruby/1.8/compass/exec/switch_ui.rb:175:in `do_command'
/usr/lib/ruby/1.8/compass/exec/switch_ui.rb:35:in `perform!'
/usr/lib/ruby/1.8/compass/exec/switch_ui.rb:18:in `run!'
/usr/bin/compass:26
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 120 of /home/larsemil/programmering/php/daladevelop.se/sass/screen.sass"; }
