@charset "UTF-8";
/* line 3, ../sass/screen.sass */
body {
  overflow-x: hidden;
}

/* line 6, ../sass/screen.sass */
article {
  width: 100%;
  float: left;
  position: relative;
  left: 0%;
}

/* line 13, ../sass/screen.sass */
article.hidden.old {
  margin-left: -300%;
  overflow-x: hidden;
}

/* line 17, ../sass/screen.sass */
article.new {
  left: 100%;
}

/* line 20, ../sass/screen.sass */
div#tempload {
  display: none;
}

/* line 23, ../sass/screen.sass */
#main-menu ul {
  list-style-type: none;
}
/* line 25, ../sass/screen.sass */
#main-menu ul li {
  float: left;
  padding: 0 25px 0 0;
}

/* line 29, ../sass/screen.sass */
#tagcloud ul {
  margin: 0px;
}

/* line 32, ../sass/screen.sass */
#tagcloud li {
  display: block;
  width: 62px;
  height: 30px;
  float: left;
  margin-bottom: 5px;
  margin-right: 15px;
}

/* line 40, ../sass/screen.sass */
#tagcloud input[type=checkbox] {
  display: block;
  position: absolute;
  opacity: 0;
  width: 62px;
  height: 30px;
}

/* line 47, ../sass/screen.sass */
#tagcloud input[type=checkbox] + label {
  display: block;
  width: 60px;
  line-height: 1.5em;
  padding: 3px;
  text-align: center;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 2px black 1px 1px 5px 0;
  -webkit-box-shadow: 2px 2px 2px black 1px 1px 5px 0;
  -o-box-shadow: 2px 2px 2px black 1px 1px 5px 0;
  box-shadow: 2px 2px 2px black 1px 1px 5px 0;
}

/* line 57, ../sass/screen.sass */
#tagcloud label:after {
  content: "";
}

/* line 60, ../sass/screen.sass */
#tagcloud input[type=checkbox]:checked + label {
  background: #88bfe8;
  color: yellow;
}
