/* line 14, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

@charset "UTF-8";
@font-face {
  font-family: "StreetCorner";
  src: local("☺"), url('/styles/fonts/streetcornerbold.ttf') format('truetype');
}

/* line 8, ../sass/screen.sass */
html {
  margin: 0;
  background-color: #333333;
}

/* line 12, ../sass/screen.sass */
body {
  font-family: "Lucida Grande";
  line-height: 1.3em;
  margin: 0 auto;
  margin-top: 0px;
  color: white;
}
/* line 18, ../sass/screen.sass */
body a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

/* line 22, ../sass/screen.sass */
p {
  margin-top: 10px;
}

/* line 25, ../sass/screen.sass */
h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

/* line 29, ../sass/screen.sass */
h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 33, ../sass/screen.sass */
strong {
  font-weight: bold;
}

/* line 36, ../sass/screen.sass */
#wrapper {
  width: 960px;
  margin: 0 auto;
}

/* line 40, ../sass/screen.sass */
#branding {
  margin-top: 0px;
  width: 100%;
  height: 100px;
  padding-top: 40px;
  background-color: #333333;
  background-image: url("../images/bg.png");
  color: white;
  text-align: center;
}
/* line 48, ../sass/screen.sass */
#branding a {
  color: white;
  text-decoration: none;
}
/* line 53, ../sass/screen.sass */
#branding h1 {
  font-size: 4em;
  font-family: "StreetCorner";
  margin-left: 100px;
  text-shadow: #111111 3px 3px 5px;
}

/* line 58, ../sass/screen.sass */
article {
  width: 960px;
  margin: 0 auto;
  position: relative;
  left: 0%;
  padding: 10px 40px 0 40px;
  min-height: 400px;
  height: auto !important;
  height: 400px;
}

/* line 67, ../sass/screen.sass */
article.hidden.old {
  margin-left: -300%;
  overflow-x: hidden;
}

/* line 71, ../sass/screen.sass */
article.new {
  left: 100%;
}

/* line 74, ../sass/screen.sass */
footer {
  width: 100%;
  height: 100px;
  background-color: #333333;
}

/* line 79, ../sass/screen.sass */
div#tempload {
  display: none;
}

/* line 82, ../sass/screen.sass */
#main-menu {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  background-color: orange;
  text-align: center;
  padding-left: 200px;
}
/* line 89, ../sass/screen.sass */
#main-menu a {
  color: black;
  text-decoration: none;
  font-size: 1.3em;
  text-shadow: #333333 1px 1px 7px;
}

/* line 96, ../sass/screen.sass */
#main-menu ul {
  list-style-type: none;
}
/* line 98, ../sass/screen.sass */
#main-menu ul li {
  float: left;
  padding: 14px 10px 0 10px;
}

/* line 101, ../sass/screen.sass */
tagcloud {
  width: 100px;
  border: 1px solid;
  float: right;
}

/* line 106, ../sass/screen.sass */
#tagcloud ul {
  margin: 0px;
}

/* line 109, ../sass/screen.sass */
#tagcloud li {
  display: block;
  width: 62px;
  float: left;
  margin-right: 15px;
}

/* line 115, ../sass/screen.sass */
#tagcloud input[type=checkbox] {
  display: block;
  position: absolute;
  opacity: 0;
  width: 62px;
  height: 30px;
}

/* line 122, ../sass/screen.sass */
#tagcloud input[type=checkbox] + label {
  display: block;
  width: 60px;
  line-height: 1.5em;
  padding: 3px;
  text-align: center;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 2px black 1px 1px 5px 0;
  -webkit-box-shadow: 2px 2px 2px black 1px 1px 5px 0;
  -o-box-shadow: 2px 2px 2px black 1px 1px 5px 0;
  box-shadow: 2px 2px 2px black 1px 1px 5px 0;
}

/* line 132, ../sass/screen.sass */
#tagcloud label:after {
  content: "";
}

/* line 135, ../sass/screen.sass */
#tagcloud input[type=checkbox]:checked + label {
  background: #88bfe8;
  color: yellow;
}

/* För ajax-laddar-grafiken */
/* line 140, ../sass/screen.sass */
#dd_ajax_loading {
  position: absolute;
  width: 200px;
  left: 50%;
  background: orange;
  padding: 10px;
  margin: 0px;
  margin-left: -105px;
  height: 50px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  color: black;
  font-weight: bold;
}

/* line 153, ../sass/screen.sass */
#dd_ajax_loading #dd_squares {
  width: 88px;
  position: relative;
  margin: 0 auto;
}

/* line 158, ../sass/screen.sass */
#dd_ajax_loading span {
  display: block;
  width: 5px;
  height: 10px;
  float: left;
  margin-right: 15px;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 167, ../sass/screen.sass */
#dd_ajax_loading span.filled {
  background: #111111;
}

/* line 170, ../sass/screen.sass */
#dd_ajax_loading p {
  display: block;
  clear: both;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

/* To add columns to your text in wordpress simply use these classes on your text */
/* line 180, ../sass/screen.sass */
.threeColumns {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -moz-column-gap: 20;
  -webkit-column-gap: 20;
  -o-column-gap: 20;
  column-gap: 20;
}

/* line 184, ../sass/screen.sass */
.twoColumns {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -moz-column-gap: 20;
  -webkit-column-gap: 20;
  -o-column-gap: 20;
  column-gap: 20;
}
